@tailwind base;
@tailwind components;

html, body{
    @apply px-[5.12rem] bg-[white];
}

*{
    box-sizing: border-box;
}

.show-menu{
    transform: translateY(0);
}

.menu{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    transform: translateY(-200%);
    transition: transform 0.3s;
}



@tailwind utilities;